body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  min-width: 100%;
  min-height: 600px;
  background: url('/img/Background.png') center (center/cover) no-repeat;

  &_menu {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
  }

  &_submenu {
    display: flex;
  }

  &_social {
    img {
      padding-right: 40px;
    }
  }

  &_logo_text {
    color: #ffffff;
    font-weight: 700px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
  }

  &_text_label {
    margin-top: 142px;
    background: #1c2e3d;
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 24px;
    border-radius: 24px;
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    padding: 18px 29px 17px 30px;
    color: #ffffff;
  }

  &_text_label {
    margin-top: 142px;
    background: #1c2e3d;
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 24px;
    border-radius: 24px;
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    padding: 18px 29px 17px 30px;
    color: #ffffff;
  }

  &_text_title {
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 84px;
    color: #ffffff;
    text-align: left;
  }

  &_text_subtitle {
    padding-top: 40px;
    max-width: 501px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    color: #ffffff;
  }

  &_text_subtitle {
    padding-top: 40px;
    max-width: 501px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    color: #ffffff;
  }

  &_button_search {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &_button {
    margin-top: 40px;
    background: #e8594e;
    height: 80px;
    width: 274px;
    padding: 33px 80px 33px 80px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.18182px;

    button {
      background: #e8594e;
      border: none;

      cursor: pointer;
      color: #ffffff;
    }
  }

  &_search {
    .form_seacrh {
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      margin-top: 156px;
    }
    .input_seacrh {
      background: #ffffff;
      border: none;
      outline: none;

      padding-left: 56px;
      height: 120px;
      font-size: 16px;
      line-height: 19px;
    }
    .button_search {
      background: url('/img/search.jpg');
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin-right: 64px;
      margin-top: 51px;
      border: none;
      outline: none;
    }
  }

  &_video_slider {
    .video {
      display: flex;
    }

    .video_img {
      border-radius: 8px 8px 0px 0px;
      width: 500px;
      margin-top: -3px;
    }

    .slider {
      margin-top: -4px;
      padding: 53px 166px 53px 168px;
      background: #73afba;
      border-radius: 0px 4px 0px 0px;
      height: 124px;
    }
  }
  .flex_text_syka {
    display: flex;
    justify-content: space-between;
  }
  .button_play {
    position: absolute;
    margin: 110px 226px;
    border: none;
    outline: none;
    background: none;
  }
}

.travel_pro {
  padding: 120px 0;
  width: 100%;
  min-height: 700px;

  &_text {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
  }

  &-card {
    position: relative;
    max-width: 367px;
    width: 100%;
    &:hover {
      .travel_pro-card__subtitle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(115, 175, 186, 0.7);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 40px;
        text-align: left;
      }
    }

    &__subtitle {
      display: none;
    }

    &__img {
      width: 100%;
    }
  }

  &_item {
    width: 100%;
  }

  &_subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-top: -153px;
  }
}

.featured {
  background: url('/img/section_3/bg.png') center (center/cover) no-repeat;
  min-height: 700px;
  width: 100%;
  .main {
    min-height: 700px;
    margin-bottom: 106px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_content {
    max-width: 634px;
    width: 100%;
    margin-left: 176px;
  }
  &_btn {
    margin-top: 142px;
    background: #e8594e;
    mix-blend-mode: normal;
    border: transparent;
    border-radius: 24px;
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    padding: 18px 29px 17px 30px;
    color: #ffffff;
  }
  &_label {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
  }
  &_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
  &_btn_big {
    margin-top: 40px;
    background: #e8594e;
    height: 80px;
    width: 274px;
    padding: 33px 80px 33px 80px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    border: transparent;
  }
  .stories {
    background: url('/img/section_3/bg_2.png') center (center/cover) no-repeat;
    min-height: 700px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    &_content {
      max-width: 368px;
      margin-top: 127px;
      width: 100%;
    }

    &_label {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 80px;
      color: #ffffff;
    }
    &-ul {
      width: 100%;
      list-style: none;
      padding: 0;
    }
    &-li {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      &:after {
        content: '';
        display: block;
        height: 1px;
        background: #e3e3e3;
        mix-blend-mode: normal;
        opacity: 0.1;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
    &_avatar {
      margin-right: 32px;
    }
    &_text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
    }
    &_subtext {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.502293);
    }
  }
}

.huy {
  overflow: hidden;

  .swiper-container {
    width: 100%;
    min-height: 600px;
    height: 100%;
    padding: 120px 0;
  }

  .swiper-wrapper {
    align-items: center;
  }

  // отут пиздуй стилі для кожної карточки
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;

    .slider-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      &__img {
        width: 100%;
        height: 100%;
      }

      &__play-icon {
        width: 112px;
        height: 112px;
        border-radius: 100%;
      }

      &__title {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #ffffff;
        text-align: left;
      }

      &-other {
        display: none;
      }
    }

    // а це для центральної
    &-active {
      width: 40% !important;
      height: 100% !important;
      position: relative;

      .slider-content-other {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        align-items: flex-start;
      }
    }
  }
}
