<section class="hero">
  <div class="container">
    <div class="hero_menu">
      <div class="hero_social">
        <img src="img/face.png" alt="">
        <img src="img/twitter.png" alt="">
      </div>
      <div class="hero_logo_text">MITRAVEL</div>
      <div class="hero_submenu">
        <img src="/img/menu.png" alt="">

      </div>
    </div>

    <div class="hero_text">
      <div class="hero_text_label">
        NEW BOOK
      </div>
      <div class="hero_text_title">
        Mother Earth <br> Hosts Our <br> Travels
      </div>
      <div class="hero_text_subtitle">
        There are not many cities that have experienced such social and political extremes in recent history as
        Amsterdam. In the 20th century alone, Amsterdam faced the atrocities of war for the first time in 400 years
      </div>

    </div>

    <div class="flex_text_syka">
      <div class="hero_button_search">
        <div class="hero_button">
          BUY THE BOOK
        </div>
        <div class="hero_search">
          <form action="" class="form_seacrh">
            <form>
              <input type="text" placeholder="Search stories" class="input_seacrh">
              <button type="submit" class="button_search">

              </button>
            </form>
          </form>
        </div>
      </div>

      <div class="hero_video_slider">
        <div class="video">
          <img src="/img/bg.png" alt="" class="video_img">
          <button class="button_play">
            <img src="img/play.png" alt="">
          </button>

        </div>
        <div class="slider">
          wonderful moutain
        </div>
      </div>
    </div>
  </div>
</section>


<section class="travel_pro">
  <div class="container">
    <div class="row">
      <div class=" col-md-6">
        <div class="travel_pro_text">
          Become A Travel Pro In One Easy Lesson
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-3 ">
        <img src="/img/section_2/Mask_1.png" alt="" class="travel_pro_item">
      </div>
      <div class="col-md-3">
        <div class="travel_pro-card">
          <img src="/img/section_2/Mask_2.png" alt="" class="travel_pro-card__img">
          <div class="travel_pro-card__subtitle">
            <p class="text">
              Vacation Home Rental Success <br>
              Rental Success
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <img src="/img/section_2/Mask_3.png" alt="" class="travel_pro_item">
      </div>
      <div class="col-md-3 ">
        <img src="/img/section_2/Mask_4.png" alt="" class="travel_pro_item">
      </div>



    </div>



  </div>
</section>


<section class="featured">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 main">

        <div class="featured_content">
          <button class="featured_btn">
            FEATURED
          </button>
          <div class="featured_label">
            How To Fly A Private Jet On Your Next Trip
          </div>
          <div class="featured_subtitle">
            The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National
            Park ranks as three of the most magnificent & awe inspiring.
          </div>
          <button class="featured_btn_big">
            READ ARTICLE
          </button>
        </div>
      </div>
      <div class="col-md-4 stories">
        <div class="stories_content">
          <div class="stories_label">
            Featured Stories
          </div>
          <ul class="stories-ul">

            <li class="stories-li">
              <img src="/img/section_3/Avatar_1.png" alt="" class="stories_avatar">
              <div>
                <h2 class="stories_text">
                  Do A Sporting Stag Do In Birmingham
                </h2>
                <p class="stories_subtext">
                  13 Dec 2019
                </p>
              </div>
            </li>

            <li class="stories-li">
              <img src="/img/section_3/Avatar_2.png" alt="" class="stories_avatar">
              <div>
                <h2 class="stories_text">
                  From Wetlands To Canals And Dams Amsterdam Is Alive
                </h2>
                <p class="stories_subtext">
                  13 Dec 2019
                </p>
              </div>
            </li>
            <li class="stories-li">
              <img src="/img/section_3/Avatar_3.png" alt="" class="stories_avatar">
              <div>
                <h2 class="stories_text">
                  Stu Unger Rise And Fall Of A Poker Genius
                </h2>
                <p class="stories_subtext">
                  13 Dec 2019
                </p>
              </div>
            </li>
            <li class="stories-li">
              <img src="/img/section_3/Avatar_4.png" alt="" class="stories_avatar">
              <div>
                <h2 class="stories_text">
                  New Ideas For A Low Cost Vacation On Water
                </h2>
                <p class="stories_subtext">
                  13 Dec 2019
                </p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>



</section>

<section class="huy">
  <div class="container-fluide">
    <div class="row">
      <div class="col-12">

        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
				<div class="slider-content">
    				<img src="/img/section_4/img_1.png" alt="" class="slider-content__img">
    					<div class="slider-content-other">
     						 <img src="/img/section_4/Video icon.png" alt="" class="slider-content__play-icon">
     						 <h3 class="slider-content__title">A Guide To Rocky Mountain Vacations</h3>
    					</div>
  				</div>
			</div>
            <div class="swiper-slide">
				<div class="slider-content">
    				<img src="/img/section_4/img_1.png" alt="" class="slider-content__img">
    					<div class="slider-content-other">
     						 <img src="/img/section_4/Video icon.png" alt="" class="slider-content__play-icon">
     						 <h3 class="slider-content__title">A Guide To Rocky Mountain Vacations</h3>
    					</div>
  				</div></div>
            <div class="swiper-slide"><div class="slider-content">
    				<img src="/img/section_4/img_1.png" alt="" class="slider-content__img">
    					<div class="slider-content-other">
     						 <img src="/img/section_4/Video icon.png" alt="" class="slider-content__play-icon">
     						 <h3 class="slider-content__title">A Guide To Rocky Mountain Vacations</h3>
    					</div>
  				</div></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>
  </div>
</section>